#mainContent

    #gameContent
        canvas#canvas(width='600', height='600')

    #playersBar
        #players
        #viewers
            button#botonPass(type='button')
                | Pasar
            button#botonAbandon(type='button')
                | Rendirse
            button#botonExit(type='button')
                | Salir
    #chatBar
        #chatBox
        #inputChatBox
            input#textChat(type="text", name="textChat")
            button#botonChat(type='button')
                | Enviar
        
script(type='text/javascript')
    var usuario = '#{user}';
    var gameId = '#{gameId}';

script(src='../javascripts/game.js')
