#panelBox
    #loginBetaBox
        #login
            form#loginForm(action='/user_edit', method='post')
                h3= "Usuario"
                input#userField(type="text", name="user")
                br
                h3= "Password"
                input(type="password", name="pass")
                br
                button#loginButton(type='button')
                    | Login
    #imageLoginBox
        img(src='../images/img_index.jpg', alt='Baduk')

#beta
    h1= "Apúntate a la beta"
    form#betaForm(action='/user_edit', method='post')
        h3= "Email"
        input#userField(type="text", name="mail")
        button#betaButton(type='button')
            | Enviar

script(type='text/javascript')
    $(document).ready(function() {
        $('#panelBox').fadeIn("slow")
        $('#beta').fadeIn("slow")
    });
    
    $("#userField").click(function() {
        
    });