#chatBar {
  float: left;
  width: 26%;
  height: 99%;
}
#chatBox {
  float: left;
  background: #fff;
  background: rgba(255,255,255,0.5);
  border: 1px solid #d8d8d8;
  width: 80%;
  height: 550px;
  margin: 25px 0px 0px 30px;
  text-align: left;
  padding: 5px 5px 5px 5px;
  overflow: auto;
}
#inputChatBox {
  float: left;
  width: 86%;
  margin: 10px 0px 0px 30px;
  text-align: left;
}
#inputChatBox input {
  width: 70%;
  font-size: 150%;
  vertical-align: middle;
}
#inputChatBox button {
  width: 23%;
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #d8d8d8;
  height: 32px;
  vertical-align: middle;
}
#gameContentBox {
  float: left;
  width: 50%;
  height: 98%;
  border: none;
}
#canvas {
  margin: 20px 0px 0px 50px;
  background: #fff;
}
#playersBar {
  width: 24%;
  height: 99%;
  float: left;
}
.player {
  padding: 5px 0px 0px 0px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  height: 120px;
  margin: 25px 0px 0px 0px;
  float: left;
}
.player img {
  width: 80px;
  height: 80px;
  float: left;
}
.points {
  float: left;
  width: 40px;
  height: 20px;
  border: 1px solid;
  vertical-align: middle;
  margin: 25px 0px 0px 30px;
  text-align: center;
  padding: 5px 0px 0px 0px;
}
.time {
  float: left;
  width: 40px;
  height: 20px;
  border: 1px solid;
  vertical-align: middle;
  margin: 25px 0px 0px 30px;
  text-align: center;
  padding: 5px 0px 0px 0px;
}
#viewers {
  margin: 25px 0px 0px 0px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  height: 295px;
  float: left;
}
#players {
  width: 100%;
  height: 305px;
  float: left;
}
