input {
  background: #fff;
  border: 1px solid #bdbdbd;
  height: 30px;
  width: 80%;
  font-size: 200%;
  padding: 0px 5px 0px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Cabin Condensed', sans-serif;
  color: #585858;
}
input:focus {
  outline: none;
  box-shadow: 0px 0px 10px #fbfbef;
}
#wrapper {
  width: 100%;
  height: auto;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
#panelBox {
  width: 40%;
  height: 370px;
  text-align: left;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #000;
  background: rgba(0,0,0,0.3);
  box-shadow: 0px 0px 50px #848484;
  border: 1px solid;
  display: none;
  text-align: left;
  font-family: 'Courgette';
  font-size: 130%;
  color: #fff;
}
#panelBox button {
  background: #fff;
  border: 1px solid #bdbdbd;
  font-size: 150%;
  height: 32px;
  margin: 10px 0px 0px 0px;
  padding: 3px 3px 3px 3px;
  border-radius: 15px;
  width: 100px;
  font-family: 'Cabin Condensed', sans-serif;
  color: #585858;
}
#panelBox button:active {
  background: #f5f6ce;
}
#panelBox button:hover {
  box-shadow: 0px 0px 10px #fbfbef;
}
#logo {
  float: left;
  width: 100%;
  height: 160px;
  text-align: center;
}
#loginBetaBox {
  float: left;
  position: relative;
  width: 100%;
  padding-top: 30px;
  margin: 0px 0px 0px 50px;
}
#beta {
  width: 40%;
  height: auto;
  margin-top: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #000;
  background: rgba(0,0,0,0.3);
  box-shadow: 0px 0px 50px #848484;
  border: 1px solid;
  display: none;
  font-family: 'Courgette';
  font-size: 100%;
  color: #fff;
}
#beta button {
  background: #fff;
  border: 1px solid #bdbdbd;
  font-size: 160%;
  height: 32px;
  margin: 0px 0px 0px 5px;
  padding: 3px 3px 3px 3px;
  border-radius: 5px;
  font-family: 'Cabin Condensed', sans-serif;
  color: #585858;
  vertical-align: middle;
}
#beta button:active {
  background: #f5f6ce;
}
#beta button:hover {
  box-shadow: 0px 0px 10px #fbfbef;
}
#beta input {
  width: 85%;
  vertical-align: middle;
  color: #585858;
  font-family: 'Cabin Condensed', sans-serif;
}
