#mainContent {
  float: left;
  position: relative;
  width: 94.8%;
  margin: 30px 5px 0px 35px;
  background: #fff;
  border: 1px solid #848484;
  height: 650px;
  border-radius: 3px;
  padding: 5px 0px 5px 5px;
  background: #fff;
  background: rgba(255,255,255,0.3);
  box-shadow: 0px 0px 20px #6e6e6e;
}
#leftBar {
  float: left;
  width: 16%;
  border-top: 1px solid #848484;
  border-bottom: 1px solid #848484;
  border-left: 1px solid #848484;
  height: 647px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #fff;
  background: rgba(255,255,255,0.5);
}
#middleBar {
  float: left;
  width: 68%;
  background: #fff;
  border-top: 1px solid #848484;
  border-bottom: 1px solid #848484;
  height: 647px;
  background: #fff;
  background: rgba(255,255,255,0);
}
#rightBar {
  float: left;
  width: 15.4%;
  border-top: 1px solid #848484;
  border-bottom: 1px solid #848484;
  border-right: 1px solid #848484;
  height: 647px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #fff;
  background: rgba(255,255,255,0.5);
  text-align: center;
}
#userBox {
  width: 100%;
  height: 130px;
  text-align: center;
  padding: 10px 0px 0px 0px;
  margin: 40px 0px 0px 0px;
}
#nickBox {
  float: left;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 160%;
  color: #424242;
  text-align: center;
  width: 100%;
}
#avatarBox {
  float: left;
  width: 50%;
}
#avatarBox img {
  width: 80px;
  height: 80px;
  border: 1px solid #848484;
  padding: 1px 1px 1px 1px;
  box-shadow: 1px 1px 5px #bdbdbd;
}
#dataBox {
  float: left;
  width: 40%;
  font-size: 130%;
  text-align: left;
  margin: 0px 0px 0px 0px;
  font-family: 'Courgette';
  color: #424242;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 0px 0px 0px 10px;
}
#dataBox img {
  width: 20%;
  margin: 0px 10px 0px 0px;
}
#lvlBox {
  float: left;
  width: 100%;
  margin: 0px 20px 0px 0px;
  padding: 5px 0px 0px 0px;
}
#winBox {
  float: left;
  width: 100%;
  margin: 5px 20px 5px 0px;
}
#lostBox {
  float: left;
  width: 100%;
}
#settingsBox {
  float: left;
  width: 100%;
  border-bottom-left-radius: 3px;
}
.optionBox {
  border-top: 1px solid #6e6e6e;
  border-bottom: 1px solid #bdbdbd;
  text-align: center;
  background: #fff;
  background: rgba(255,255,255,0.6);
  height: 30px;
  padding: 10px 0px 0px 0px;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 160%;
  color: #424242;
}
.optionBox:hover {
  background-image: -webkit-linear-gradient(top, #d8d8d8 0, #f2f2f2 100%);
}
#gameContentBox {
  float: left;
  border: 1px solid #6e6e6e;
  width: 100%;
  height: 91%;
  padding: 5px 0px 0px 0px;
  overflow: auto;
}
.gameBox {
  width: 95%;
  padding: 3px 5px 0px 5px;
  margin: 5px 0px 0px 20px;
  border-radius: 3px;
  float: left;
  background: #000;
  background: rgba(255,255,255,0.8);
  box-shadow: 1px 1px 5px #bdbdbd;
}
.gameBox button {
  border: none;
  border-radius: 2px;
  padding: 1px 1px 1px 1px;
  background: #ecf6ce;
}
.gameBox button:active {
  background: #9afe2e;
}
.gameBox:hover {
  background: #f1f8e0;
  background: rgba(241,248,224,0.6);
}
.flagBox {
  float: left;
  width: 3%;
  border-right: 1px solid #848484;
  padding: 5px 0px 0px 4px;
}
.flagBox img {
  box-shadow: 1px 1px 5px #bdbdbd;
}
.titleGameBox {
  float: left;
  width: 30%;
  padding: 2px 0px 0px 10px;
  text-align: center;
  border-right: 1px solid #848484;
}
.creatorGameBox {
  float: left;
  width: 10%;
  text-align: center;
  border-right: 1px solid #848484;
}
.settingsGameBox {
  float: left;
  width: 50%;
  padding: 2px 0px 0px 0px;
  text-align: center;
  border-right: 1px solid #848484;
}
.playBox {
  float: left;
  width: 3%;
  padding: 0px 0px 0px 7px;
}
.playBox img {
  width: 80%;
}
#searchBox {
  width: 100%;
  text-align: center;
  background: #fff;
  background: rgba(255,255,255,0.5);
  padding: 10px 0px 10px 0px;
}
#searchBox input {
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-top-right-radius: 1px;
  -webkit-border-bottom-right-radius: 1px;
  -moz-border-radius-topright: 1px;
  -moz-border-radius-bottomright: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border: 1px solid #848484;
  vertical-align: middle;
}
#searchBox button {
  height: 32px;
  width: 40px;
  background: #fff;
  border: 1px solid #848484;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 3px 0px 0px 0px;
  vertical-align: middle;
}
#searchButton img {
  width: 24px;
  height: 24px;
}
