*
  margin 0px
  padding 0px

body
  font 62.5%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  text-align center
  background-image:url("../images/index_back.jpg")
  
input
  background white
  border 1px solid #BDBDBD
  height 30px
  width 80%
  font-size 200%
  padding 0px 5px 0px 5px

input:focus
  outline: none;
  border 1px solid #38610B

#wrapper
  width 100%
  height auto
  text-align left
  margin-left auto
  margin-right auto

#panelBox
  width 40%
  height 200px
  text-align left
  margin-top 150px
  margin-left auto
  margin-right auto
  background white
  padding 20px
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px
  border 1px solid #848484
  background rgb(0, 0, 0)
  background rgba(255, 255, 255, 0.9)
  box-shadow 0px 0px 20px #6E6E6E
  display none
  
#panelBox button 
  background white
  border 1px solid #BDBDBD
  font-size 200%
  height 32px
  margin 10px 0px 0px 0px
  padding 3px 3px 3px 3px
  border-radius 5px

#panelBox button:active
  background #86B404

#loginBetaBox
  float left
  position relative
  width 70%
  padding-top 30px

#imageLoginBox
  float left
  position relative
  width 20%
  
#imageLoginBox img
  width 180px
  height 100%
  text-aling right
  border 1px solid

#beta
  width 40%
  height auto
  margin-top 20px
  text-align left
  margin-left auto
  margin-right auto
  background white
  padding 20px
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px
  border 1px solid #848484
  background rgb(0, 0, 0)
  background rgba(255, 255, 255, 0.9)
  box-shadow 0px 0px 20px #6E6E6E
  display none

#beta button 
  background white
  border 1px solid #BDBDBD
  font-size 200%
  height 32px
  margin 0px 0px 0px 5px
  padding 3px 3px 3px 3px
  border-radius 5px

#beta button:active
  background #86B404
 
#beta input
  width 85%

#navbar
  text-align left
  background white
  width auto
  height auto
  opacity: 0.7
  padding 5px 0px 5px 10px
  color #173B0B
  
#footer
  text-align left
  background white
  width 100%
  height auto
  opacity: 0.7
  padding 5px 0px 5px 10px
  color #173B0B
  position fixed
  bottom 0