body
  font 62.5%/1.5  Helvetica, Arial, "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif
  text-align center
  background #D8D8D8

#wrapper
  width 1050px
  text-align left
  margin-left auto
  margin-right auto
  background white
  padding 20px
  border-bottom-radius(15px)
  
#navbar
  background black
  width 100%